.background_white {
    background-color: white;
}

.background_red {
    background-color: red;
    border: red;
}

.background_red:hover{
    background-color: rgb(204, 4, 4);
    border: red;
}


#id1 {
    width: 100%;
    overflow: auto;
    max-height: 800px;
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.validation-error {
    color: red
}

.validation-summary-errors {
    color: red
}